{% extends 'base.html.twig' %}

{% block title %}Mon super site{% endblock %}

{% block body %}
    
    <div class="container" id="cartPage">
        <h1>{{language["yourCart"]}}</h1>

        {% for cartItem in cartItems %}
            <div class="cartItem">
                <div class="flexbox">
                    <div class="flexbox-img">
                        <a href="/manga?id={{cartItem.id}}"><img src="{{cartItem.unique_cover}}" /></a>
                    </div>

                    <div class="flexbox-right">
                        <a href="/manga?id={{cartItem.id}}">{{cartItem.title}} {{cartItem.volume}}</a>
                        <br/>
                        <p>{{cartItem.price}}€</p>
                        <button class="btn btn-danger removeFromCart" value="{{loop.index-1}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                            </svg> {{language["removeFromCart"]}}
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if cartPrice > 0 %}
            {{language["totalCost"]}} : {{cartPrice}}€<br/>
            <button class="btn btn-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bag-check" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                </svg>
                {{language["buyCart"]}}
            </button>
        {% endif %}

    </div>

    <script src="./js/removeFromCart.js"></script>

{% endblock %}
