{% extends 'base.html.twig' %}

{% block title %}{{language["orders"]}}{% endblock %}

{% block body %}

<div class="container" id="historyPage">

    <h1>{{language["orders"]}}</h1>

    {% for item in history %}

    <div class="history_item">

        <div class="flexbox">

            <span>
                {% if item.status == "PAID" %}
                    <span class="btn btn-warning" title="{{language["delivering"]}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                            <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                        </svg>
                    </span>

                {% elseif item.status == "DELIVERED" %}
                    <span class="btn btn-success" title="{{language["delivered"]}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-house-check" viewBox="0 0 16 16">
                            <path d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l2.354 2.353a.5.5 0 0 1-.708.708L8 2.207l-5 5V13.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 2 13.5V8.207l-.646.647a.5.5 0 1 1-.708-.708L7.293 1.5Z"/>
                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.707l.547.547 1.17-1.951a.5.5 0 1 1 .858.514Z"/>
                        </svg>
                    </span>
                {% endif %}
            ID: {{item.id}} ○ {{item.username}} ○ {{item.full_price}}€ 
            
            </span>

            <span>

                <button class="btn btn-dark" data-bs-toggle="collapse" href="#detailsCollapse{{item.id}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                        <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                    </svg>
                </button>

                {% if adminMode == true %}
                    <button class="btn btn-warning changeStatus" currentStatus="{{item.status}}" value="{{item.id}}">
                        {{language["changeStatus"]}}
                    </button>
                {% endif %}
            </span>
        </div>

        <div class="collapse" id="detailsCollapse{{item.id}}">
        <br/>
            <ul>
            {% for details in item.order_details%}
                <li>{{details.title}} {{details.volume_number}}
                    <ul><li>{{details.quantity}} x {{details.price}}€</li></ul>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    {% endfor %}
</div>
  
   {% if adminMode == true %}
           <script src="/js/changeOrderStatus.js" ></script>
    {% endif %}

{% endblock %}