{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    
    <div class="container center" id="login_form">

    {% if error %}
        bruh burth fdp erreur :((((((
    {% endif %}
    
        <form method="post" action="/login">
            <label>{{language["username"]}} : </label><br/>
            <input type="text" placeholder="{{language["username"]}}" name="username"><br/>
            <label>{{language["password"]}} : </label><br/>
            <input type="password" placeholder="{{language["password"]}}" name="password"><br/>
            <input type="submit" class="btn" value="{{language["submit"]}}">
        </form>

    </div>


{% endblock %}
