{% extends 'base.html.twig' %}

{% block title %}{{language["VolumeEdit"]}}{% endblock %}

{% block body %}
    {% for manga in mangas %}

    <p>{{language["returnTo"]}}<a href="/mangaVolumeEditList?title={{manga.title}}">{{language["MangaEditVolumeChoice"]}}</a></p>

    <section class="container-fluid">
        <h1>{{language["VolumeEdit"]}} {{manga.title}}</h1>

        <div>
            <form>
                <div class="mb-3 col-3">
                    <button type="button" class="btn btn-danger">{{language["Hide"]}}</button>
                </div>
            </form>
        </div>

        <form action="" method="post" class="row g-3">
            <label for="volume">{{language["modify"]}}{{language["volume"]}}</label>
                <input class="form-control" type="text" id="volume" name="volume" value="{{manga.volume_number}}">

            <label for="cover_url">{{language["modify"]}}{{language["cover"]}}</label>
                <input class="form-control" type="text" id="cover_url" name="cover_url" value="{{manga.cover_url}}">

            <label for="stock">{{language["modify"]}}{{language["stock"]}}</label>
                <input class="form-control" type="text" id="stock" name="stock" value="{{manga.stock}}">

            <label for="price">{{language["modify"]}}{{language["price"]}}</label>
                <input class="form-control" type="text" id="price" name="price" value="{{manga.price}}">

            <input type="submit" class="btn btn-primary"></input>
        </form>
    </section>

    {% endfor %}

{% endblock %}
