{% extends 'base.html.twig' %}

{% block title %}Add manga (série){% endblock %}

{% block body %}
    Retour à la page de <a href="/mangaEdit">modification des mangas</a>

    <h1>Création de manga (série)</h1>
    <small>Cette page permet à un administrateur la création d'un nouveau manga (série).</small>

    <form action="" method="post" class="row g-3">
            <label for="title">Titre</label>
                <input class="form-control" type="text" id="title" name="title" value="{{manga.title}}">

            <label for="common_cover">Couverture</label>
                <input class="form-control" type="text" id="common_cover" name="common_cover" value="{{manga.common_cover}}">

            <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" rows="4" cols="50" required>
                    {{manga.description}}
                </textarea>

            <label for="category">Catégorie</label>
                <input class="form-control" type="text" id="category" name="category" value="{{manga.category}}">

            <label for="author">Auteur</label>
                <input class="form-control" type="text" id="author" name="author" value="{{manga.author}}">

            <label for="artist">Artiste</label>
                <input class="form-control" type="text" id="artist" name="artist" value="{{manga.artist}}">

            <input type="submit" class="btn btn-primary"></input>
        </form>

{% endblock %}
