{% extends 'base.html.twig' %}

{% block title %}{{language["products"]}}{% endblock %}

{% block body %}

<div class="container" id="productPage">
    <h1>{{language["products"]}}
    
    <button class="custom_filter_btn" data-bs-toggle="collapse" href="#filterCollapse">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
            <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </button>
    </h1>

    <form action="" method="get" id="filterCollapse" class="collapse">

        <label class="form-label">{{language["title"]}} : </label><br/>
        <input class="form-control" type="text" value="{{get["title"]}}" placeholder="{{language["title"]}}" name="title"><br/>

        <label class="form-label">{{language["volume"]}} : </label><br/>
        <input class="form-control" type="text" value="{{get["volume"]}}" placeholder="{{language["volume"]}}" name="volume"><br/>

        <div class="product_flexbox">
            <div>
                <label class="form-label">{{language["price"]}} : </label><br/>

                <input class="form-check-input" type="radio" name="price" id="price_asc" value="asc" 
                {% if get["price"] == "asc" %}
                    checked
                {% endif %}>
                <label for="price_asc">{{language["ascending"]}}</label><br/>

                <input class="form-check-input" type="radio" name="price" id="price_desc" value="desc"
                {% if get["price"] == "desc" %}
                    checked
                {% endif %}>
                <label for="price_desc">{{language["descending"]}}</label><br/>

                <input class="form-check-input" type="radio" name="price" id="price_none" value="no"
                {% if get["price"] == "no" %}
                        checked
                    {% endif %}
                    >
                <label for="price_none">{{language["noUseFilter"]}}</label><br/>
            </div>
            <div>
                <label class="form-label">{{language["volume"]}} : </label><br/>

                <input class="form-check-input" type="radio" name="sort_volume" id="volume_asc" value="asc" 
                    {% if get["sort_volume"] == "asc" %}
                        checked
                    {% endif %}
                    >
                        
                <label for="volume_asc">{{language["ascending"]}}</label><br/>

                <input class="form-check-input" type="radio" name="sort_volume" id="volume_desc" value="desc"
                {% if get["sort_volume"] == "desc" %}
                    checked
                {% endif %}>
                <label for="volume_desc">{{language["descending"]}}</label><br/>

                <input class="form-check-input" type="radio" name="sort_volume" id="volume_none" value="no"
                {% if get["sort_volume"] == "no" %}
                        checked
                    {% endif %}
                    >
                <label for="volume_none">{{language["noUseFilter"]}}</label><br/>
            </div>
            <div>
                <label class="form-label">{{language["stock"]}}</label></br>

                <input class="form-check-input" type="checkbox" name="available" id="stock" value="true"
                
                {% if get["available"] %}
                    checked
                {% endif %}
                >
                <label for="stock">{{language["onlyAvailable"]}}</label>
            </div>
        </div><br/>
        <div class="text-center">
            <input type="submit" class="submit btn btn-primary" value="{{language["filter"]}}" >
        </div>
    </form>

    <div id="product_list">
        {% for manga in mangas %}

            {% if loop.index % 2 != 0 %}
                <div class="flex_row">
            {% endif %}

                    <div class="product">
                        <img src="{{manga.unique_cover}}"/>
                        <div class="vertical_flex">
                            <div class="top">
                                <h3>{{manga.title}} {{manga.volume}}</h3>
                                <ul>    
                                    <li>{{language["author"]}} : {{manga.author}}</li>
                                    <li>{{language["artist"]}} : {{manga.artist}}</li>
                                    <li>{{language["category"]}} : {{manga.category}}</li>
                                </ul>
                            </div>
                            <div class="bottom">
                                {{manga.stock}} {{language["available"]}}<br/>
                                {{manga.price}}€<br/>
                                <a href="/manga?id={{manga.id}}"><button class="btn btn-primary">Voir page produit</button></a>
                            </div>
                        </div>
                    </div>

            {% if loop.index % 2 == 0 %}
                </div>
            {% endif %}
            <br/>
        {% endfor %}
    </div>

    <div class="text-center">
        <form method="get" action="">
        <input type="hidden" name="title" value="{{get['title']}}">
        <input type="hidden" name="volume" value="{{get['volume']}}">
        <input type="hidden" name="price" value="{{get['price']}}">
        <input type="hidden" name="sort_volume" value="{{get['sort_volume']}}">
        <input type="hidden" name="available" value="{{get['available']}}">

        <button type="submit" class="btn btn-dark" name="page" value="{{1}}"
            {% if page <= 1 %}
                disabled
            {% endif %}
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                    <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>
        </button>


        <button type="submit" class="btn btn-dark" name="page" value="{{page-1}}"
        {% if page <= 1 %}
            disabled
        {% endif %}
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
        </button>


        {{language["page"]}} {{page}} / {{total_pages}}


        <button type="submit" class="btn btn-dark" name="page" value="{{page+1}}"
            {% if page >= total_pages %}
                disabled
            {% endif %}
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
        </button>


        <button type="submit" class="btn btn-dark" name="page" value="{{total_pages}}"
            {% if page >= total_pages %}
                disabled
            {% endif %}
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
        </button>
        </form>
    </div>
</div>

{% endblock %}