{% extends 'base.html.twig' %}

{% block title %}{{language["register"]}}{% endblock %}

{% block body %}

<div class="container" id="register_form">
        &nbsp;
        <form method="post" action="/register">
        <div class="text-center">
            <h1>{{language["register"]}}</h1><br/>
        </div>

        <div id="flex_register">

            <div>
                <label class="form-label">{{language["username"]}} : </label><br/>
                <input class="form-control" type="text" placeholder="{{language["username"]}}" name="username" value="{{post["username"]}}"><br/>

                <label class="form-label">{{language["email"]}} : </label><br/>
                <input class="form-control" type="email" placeholder="{{language["email"]}}" name="email" value="{{post["email"]}}"><br/>

                <label class="form-label">{{language["password"]}} : </label><br/>
                <input class="form-control" type="password" placeholder="{{language["password"]}}" name="password"><br/>

                <label class="form-label">{{language["confirm_password"]}} : </label><br/>
                <input class="form-control" type="password" placeholder="{{language["password"]}}" name="password2"><br/>
            </div>

            <div>
                <label class="form-label">{{language["address"]}} : </label><br/>
                <input class="form-control" type="text" placeholder="{{language["address"]}}" name="address" value="{{post["address"]}}"><br/>

                <label class="form-label">{{language["city"]}} : </label><br/>
                <input class="form-control" type="text" placeholder="{{language["city"]}}" name="city" value="{{post["city"]}}"><br/>

                <label class="form-label">{{language["postal_code"]}} : </label><br/>
                <input class="form-control" type="number" placeholder="{{language["postal_code"]}}" name="postal_code" value="{{post["postal_code"]}}"><br/>

                <label class="form-label">{{language["phone_number"]}} : </label><br/>
                <input class="form-control" type="text" placeholder="{{language["phone_number"]}}" name="phone_number" value="{{post["phone_number"]}}"><br/>
            </div>

        </div>

            <div class="text-center">
                <input type="submit" class="btn btn-primary" value="{{language["submit"]}}">
            </div>

            {% if errors %}
            <br/><br/>
                <div class="alert alert-danger" role="alert">

                    {% if errors["empty_user"] %}
                        {{language["empty_user"]}}.<br/>
                    {% endif %}

                    {% if errors["username_size"] %}
                        {{language["error_username_size"]}} ( {{language["8char_minimum"]}} ).<br/>
                    {% endif %}

                    {% if errors["empty_email"] %}
                        {{language["empty_email"]}}.<br/>
                    {% endif %}

                    {% if errors["empty_pass1"] %}
                        {{language["empty_password"]}}.<br/>
                    {% endif %}

                    {% if errors["password_size"] %}
                        {{language["error_password_size"]}} ( {{language["8char_minimum"]}} ).<br/>
                    {% endif %}

                    {% if errors["empty_pass2"] %}
                        {{language["empty_password2"]}}.<br/>
                    {% endif %}

                    {% if errors["empty_address"] %}
                        {{language["empty_address"]}}.<br/>
                    {% endif %}

                    {% if errors["empty_city"] %}
                        {{language["empty_city"]}}.<br/>
                    {% endif %}

                    {% if errors["empty_postal_code"] %}
                        {{language["empty_postal_code"]}}.<br/>
                    {% endif %}

                    {% if errors["empty_phone_number"] %}
                        {{language["empty_phone_number"]}}.<br/>
                    {% endif %}

                    {% if errors["match_password"] %}
                        {{language["error_match_password"]}}.<br/>
                    {% endif %}

                    {% if errors["dupe_username"] %}
                        {{language["error_dupe_username"]}}.<br/>
                    {% endif %}

                    {% if errors["dupe_email"] %}
                        {{language["error_dupe_email"]}}.<br/>
                    {% endif %}
                </div>
            {% endif %}
        </form>

</div>

{% endblock %}